a,
h2,
h1 {
  font-family: Garamound, Baskerville, Baskerville Old Face, Hoefler Text,
    Times New Roman, serif;
  color: #b57edc;
}

#framey {
  width: 100%;
  height: 100%;
}

/* #name {
  font-family: Garamound, Baskerville, Baskerville Old Face, Hoefler Text,
    Times New Roman, serif;
  color: lavender;
} */

/*
h1 {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

#name {
  font: aclonica;
  color: lavender;
}*/

.body-color {
  background: -webkit-linear-gradient(
    top,
    rgb(136, 199, 201) 58%,
    rgb(202, 232, 235) 100%
  );
  background: -moz-linear-gradient(
    top,
    rgb(136, 199, 201) 58%,
    rgb(202, 232, 235) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgb(136, 199, 201) 58%,
    rgb(202, 232, 235) 100%
  );
  background: -o-linear-gradient(
    top,
    rgb(136, 199, 201) 58%,
    rgb(202, 232, 235) 100%
  );
  background: linear-gradient(
    top,
    rgb(136, 199, 201) 58%,
    rgb(202, 232, 235) 100%
  );
  padding: 3%;
  height: 94%;
}

.paper {
  /* font: normal 12px/1.5 "Lucida Grande", arial, sans-serif; */
  width: 50%;
  height: 80%;
  margin: 0 auto;
  padding: 6px 5px 4px 55px;
  position: relative;
  color: #444;
  line-height: 20px;
  border: 1px solid #d2d2d2;
  background: #fff;
  background: -webkit-gradient(
      linear,
      0 0,
      0 100%,
      from(#d9eaf3),
      color-stop(4%, #fff)
    )
    0 4px;
  background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  -webkit-background-size: 100% 20px;
  -moz-background-size: 100% 20px;
  -ms-background-size: 100% 20px;
  -o-background-size: 100% 20px;
  background-size: 100% 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  width: 816px;

  /*height: 1056px;
  padding: 37px 55px 27px;
  position: relative;
  border: 1px solid #b5b5b5;
  background: white;
  background: -webkit-linear-gradient(top, #dfe8ec 0%, white 8%) 0 57px;
  background: -moz-linear-gradient(top, #dfe8ec 0%, white 8%) 0 57px;
  background: linear-gradient(top, #dfe8ec 0%, white 8%) 0 57px;
  -webkit-background-size: 100% 30px;
  -moz-background-size: 100% 30px;
  -ms-background-size: 100% 30px;
  background-size: 100% 30px;*/
}
.paper::before {
  /*content: "";
  z-index: -1;
  margin: 0 1px;
  width: 706px;
  height: 10px;
  position: absolute;
  bottom: -3px;
  left: 0;
  background: white;
  border: 1px solid #b5b5b5;*/
  content: "";
  position: absolute;
  width: 4px;
  top: 0;
  left: 35px;
  bottom: 0;
  border: 1px solid;
  border-color: transparent #efe4e4;
}
.paper::after {
  content: "";
  position: absolute;
  width: 0px;
  top: 0;
  left: 45px;
  bottom: 0;
  border-left: 1px solid #f8d3d3;
}

.head {
  background-color: #fff;
  min-height: 114px;

  margin-left: -55px;
  margin-right: -4px;
  margin-top: -4px;
}

.make-me-sticky {
  position: sticky;
  top: 0;

  padding: 0 15px;
}

.sidebar-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;

  /* Position the items */
  &:nth-child(2) {
    top: 25%;
  }
  &:nth-child(3) {
    top: 50%;
  }
  &:nth-child(4) {
    top: 75%;
  }
}
